@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
  #{$property}: $value;
}

html, body, #root{
  margin: 0;
  padding: 0;
  @include prefix(box-sizing, border-box, webkit moz);
}

body {
  .container {
    background-color: #2a2b2c;
    margin: 0 auto;
    @include prefix(box-sizing, border-box, webkit moz);
    min-height:100vh;
  }
}

p {
  margin: 0;
}